body{
    background-color: #FFC932 !important;
}

.box{
    display: flex;
    align-items: center;
    margin-top: 5rem;
    margin-left: 10rem;
}

.card-body{
    height: 38rem;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    width: 18rem;
    margin-right: 2rem;
    background-color: white;
}

@media (max-width: 768px) {
    .box {
        flex-direction: column; 
        align-items: flex-start; 
        margin: 2rem;
    }

    .card-1,
.card-2,
.card-3,
.card-4{
        width: 100%;
        margin-right: 0; 
        margin-bottom: 1rem;
    }
}

@media (min-width: 700px) and (max-width: 1730px) {
    .box {
        flex-wrap: wrap; 
    }

    .card-1 {
        flex-direction: column;
    }
}

.inner-box{
    background-color: #F3FAFF;
    height: 7rem;
    width: 14rem;
    text-align: center;
    margin-top: 2rem;

}

.container{
    height: 27rem !important;
    margin-top: 1rem !important;
    width: 16rem !important;
    margin-left: 1rem !important;
}

.tag{
    background-color: #FFC932;
    height: 1.5rem;
    width:6rem;
    margin-top:1rem;
    margin-left: -2.5rem;
    transform: rotate(-45deg);
}